@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create role", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Role name")
        </th>
        <th>
            Options
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) | @Html.ActionLink("Edit", "Edit", new { id = item.Id, name= item.Name })
            </td>
        </tr>
    }
</table>